In [1]:
import pandas
import fetch_data, stock_names

In [2]:
names = stock_names._string()

In [70]:
data = eq.fetch_data._dates('AXISBANK.NS HDFC.NS', '1d', '2019-09-1', '2020-02-15')

[*********************100%***********************]  50 of 50 completed

In [63]:
data

               Adj Close                                          \
           ADANIPORTS.NS ASIANPAINT.NS AXISBANK.NS BAJAJ-AUTO.NS
Date
2020-02-13    369.100006   1874.050049  747.799988   3136.399902
2020-02-14    366.850006   1877.050049  736.500000   3146.399902

                                                                               \
           BAJAJFINSV.NS BAJFINANCE.NS BHARTIARTL.NS     BPCL.NS BRITANNIA.NS
Date
2020-02-13   9717.200195   4795.350098    539.950012  469.000000  3135.199951
2020-02-14   9690.500000   4781.750000    565.000000  476.450012  3096.649902

                        ...       Volume                             \
              CIPLA.NS  ... TATASTEEL.NS   TCS.NS TECHM.NS TITAN.NS
Date                    ...
2020-02-13  443.399994  ...      9965163  1645848  1737964  4458625
2020-02-14  447.100006  ...      9479379  1499952  2142949  1415946


           ULTRACEMCO.NS   UPL.NS  VEDL.NS WIPRO.NS YESBANK.NS   ZEEL.NS
Date
2020-02-13        186493  2902194  6820734  2414937  168336912  22130823
2020-02-14        665312  6213075  6326751  1809644  187862494   9471068

[2 rows x 300 columns]

In [71]:
data['Low'].std().sort_values()

NTPC.NS             3.482994
GAIL.NS             5.083820
POWERGRID.NS        6.113289
WIPRO.NS            6.335720
VEDL.NS             6.817418
COALINDIA.NS       10.208505
IOC.NS             10.337385
YESBANK.NS         10.385463
HINDALCO.NS        10.532742
ONGC.NS            10.760997
ITC.NS             12.891471
ADANIPORTS.NS      13.791077
SUNPHARMA.NS       18.723834
INFRATEL.NS        19.127703
CIPLA.NS           19.804106
M&M.NS             22.235523
JSWSTEEL.NS        23.348564
UPL.NS             23.701296
TATAMOTORS.NS      25.840370
SBIN.NS            28.499410
AXISBANK.NS        33.883178
ZEEL.NS            34.668314
GRASIM.NS          38.424503
TECHM.NS           39.054164
BPCL.NS            44.063799
HDFCBANK.NS        49.617161
TATASTEEL.NS       50.452335
INFY.NS            51.964843
ICICIBANK.NS       52.776841
LT.NS              61.895514
BHARTIARTL.NS      66.690823
TITAN.NS           68.603354
TCS.NS             75.378825
KOTAKBANK.NS       76.187755
ASIANPAINT.NS      89.650945
INDUSINDBK.NS     104.613510
HINDUNILVR.NS     108.318262
RELIANCE.NS       120.155713
HEROMOTOCO.NS     129.330919
BAJAJ-AUTO.NS     148.677658
HDFC.NS           164.793001
BRITANNIA.NS      167.551729
ULTRACEMCO.NS     180.717737
DRREDDY.NS        181.349654
HCLTECH.NS        206.433854
BAJFINANCE.NS     347.553659
MARUTI.NS         412.751342
BAJAJFINSV.NS     781.732155
NESTLEIND.NS      981.177735
EICHERMOT.NS     2012.272384
dtype: float64

In [72]:
data['High'].std().sort_values()

NTPC.NS             3.836438
WIPRO.NS            5.971674
GAIL.NS             6.163183
POWERGRID.NS        6.357476
VEDL.NS             7.194987
HINDALCO.NS         9.488806
COALINDIA.NS       10.023613
ONGC.NS            11.121700
IOC.NS             11.519385
YESBANK.NS         12.640823
ITC.NS             13.948335
CIPLA.NS           15.533885
INFRATEL.NS        15.991985
ADANIPORTS.NS      17.095830
UPL.NS             18.184847
SUNPHARMA.NS       19.576774
JSWSTEEL.NS        22.880657
SBIN.NS            25.078346
TATAMOTORS.NS      25.695409
M&M.NS             26.924914
AXISBANK.NS        27.391081
GRASIM.NS          32.360934
TECHM.NS           35.992227
ZEEL.NS            37.678866
BPCL.NS            38.360104
INFY.NS            45.072831
ICICIBANK.NS       50.246453
TATASTEEL.NS       50.514976
TCS.NS             64.963613
BHARTIARTL.NS      67.238883
LT.NS              70.026751
KOTAKBANK.NS       72.022943
TITAN.NS           74.887313
ASIANPAINT.NS      78.240118
INDUSINDBK.NS     100.201959
HINDUNILVR.NS     110.249782
RELIANCE.NS       118.422556
BAJAJ-AUTO.NS     132.926791
HDFC.NS           162.143188
HEROMOTOCO.NS     175.960732
DRREDDY.NS        185.706926
ULTRACEMCO.NS     190.482923
BRITANNIA.NS      190.754615
HCLTECH.NS        268.475765
HDFCBANK.NS       281.343029
BAJFINANCE.NS     327.854360
MARUTI.NS         339.102883
BAJAJFINSV.NS     762.972454
NESTLEIND.NS      994.546930
EICHERMOT.NS     1907.536827
dtype: float64